div .ctw-heading {
  line-height: 25px;
  text-align: center;
  margin: 0px;
  font-weight: 700;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

div .ctw-subheading {
  line-height: 25px;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

div .ctw-headerContainer, .ctw-weekContainer {
  display: flex;
}

div .ctw-container {
  display: inline-block;
  position: fixed;
  top: 100px;
  right: 40px;
  background: rgba(250, 250, 250, 0.7);
}

div .ctw-header {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

div .ctw-box {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0px 0px 5px 0px;
  font-weight: 500;
  color: rgb(30, 30, 30);
}

div .ctw-box-gray {
  background-color: rgb(237, 237, 237);
}

div .ctw-box-blue {
  background-color: rgb(172, 213, 242);
}
